* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.page-wrapper {
  margin-top: 3rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: none;
}

.no-data {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(16, 124, 16);
}